@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

body{
    color: $text-color-white;     
    font-size: 14px;
    line-height: 1.3;
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
 }
 .container{
    width: 1110px;
    margin: 0 auto;
}
 .top-page {
    height: 800px;
    background: url(../images/bgc.jpg) 0 0 no-repeat;
    background-size: cover;
}

